@font-face
  font-style: normal
  font-weight: 400
  font-family: "happy_times_at_the_ikobRg"
  src: local("happy_times_at_the_ikobRg"), url("../lib/happy-times-at-the-ikob/happy-times-at-the-ikob.woff2") format("woff2"), url("../lib/happy-times-at-the-ikob/happy-times-at-the-ikob.woff") format("woff"), url("../lib/happy-times-at-the-ikob/happy-times-at-the-ikob.ttf") format("truetype")

@font-face
  font-style: normal
  font-weight: normal
  font-family: "TTCommons-Bold"
  src: local("TTCommons-Bold"),  url("../lib/TTCommons/TTCommons-Bold.woff2") format("woff"),  url("../lib/TTCommons/TTCommons-Bold.woff") format("woff"), url("../lib/TTCommons/TTCommons-Bold.ttf") format("truetype")
