// Fonts
$font-family-body = "happy_times_at_the_ikobRg", Georgia, serif
$font-family-headline = "Hezaedrus", Helvetica, Arial, sans-serif
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 22px
$line-height = 1.725
$line-height-header = 1.19
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
$logo-url = hexo-config("logo.url")
$logo-hover-url = hexo-config("logo.hover-url")