$color-background = #08327d
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #d480aa
$color-meta = #FA96C8
$color-meta-code = #0f0a01
$color-link = #FA96C8
$color-text = #fbfbfb
$color-accent-3 = #90e1dc
$color-accent-2 = #6ad7d0
$color-accent-1 = #46CEC5
$color-quote = #558a86
$color-black = #0f0a01
$highlight = hexo-config("highlight") || "rainbow"